#container-tutor{
    display: grid;
    grid-template-columns: 35% 65%;
}
/* tabs */
#tutor-left-tab{
    text-align: center;
}
.ant-tabs-no-animation{
    border: 1px solid;
    padding: 10px;
    height: 540px;
}
.ant-tabs-nav-animated{
    width: 90% ;
} 
.ant-tabs-tab{
    width: 50% ;
    text-align: center;
}
/* img-profile */
#img-profile-tab1{
    height: 200px;
    margin-bottom: 15px;
}
#img-profile{
    width: 200px;
    margin: auto;
    border-radius: 50%;      
}
/* description */
.ant-descriptions-title{
    border: 0px solid;
    text-align: center;
    margin-bottom: 10px;
}
.ant-descriptions-view{
    border: 0px solid !important;
    overflow: auto;
    height: 150px;
}

.ant-descriptions-item-content{
    padding: 5px 5px 0px 5px !important;
}

.tutor-input{
    border: 0px solid;
}
.tutor-input .ant-input{
    border: 0px solid;
}

#write-delete{
    float: right;
}
i{
    color: silver;
}
/* description -> edu */
.addEdu, .addAward{
    text-align: center;
}

/* comment */
.ant-tabs-tabpane{
    border: 0px solid;
    padding: 10px;
    max-height: 460px;
} 

/* tag-calendar */
.ant-fullcalendar-fullscreen{
    border: 1px solid;
    overflow: scroll;
}
.ant-fullcalendar-calendar-body{
    border: 0px solid;
    width: 900px;
    height: 480px;    
}

@media only screen and (max-width: 800px) {
    #container-tutor{
        grid-template-columns: 100%;
    }

    #skill-tag{
        height: 200px;
    }
    #calendar{
        height: 400px;
    }
}