#container-login{
    border: 0px solid;
    display: grid;
    grid-template-columns: 50% 50%;
}

#frame-logo{
    border: 1px solid;
    height: 540px;
    overflow: hidden;        
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame-logo > img {
    height: 85%;    
}

#frame-login{
    border: 1px solid;
    height: 540px;
}

@media only screen and (max-width: 800px) {
    #container-login{        
        grid-template-columns: 100%;  
    }   
    #frame-logo{
        height: 260px;
    }
    #frame-logo > img {
        height: 100%;    
    }
}

  